.App {
  text-align: center;
}

body{
  background-image: url(../img/background.png);
  background-position-x: center;
  background-position-y: top;
  background-size: initial;
  background-repeat-x: repeat;
  background-repeat-y: no-repeat;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: rgb(18, 65, 114);
  color: #fff;
  font-family: sans-serif;
  font-size: 78%;
  height: 3999px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
